{% extends 'headerPage.html' %}

<title>Kidney Stone</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">

    

    <!-- Bootstrap core CSS -->
<link href="https://getbootstrap.com/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Favicons -->
<meta name="theme-color" content="#7952b3">
   <br>
     <br>
    {% block content%}
      
      <div class="pricing-header p-3 pb-md-4 mx-auto text-center"> 
      <h1 class="display-4 fw-normal">Upload CT Scan Kidney Image</h1></div>
      <div class="p-3 mb-2 bg-dark text-white">
      <br>
      <div class="pricing-header p-3 pb-md-4 mx-auto "> 
      <form method="post" enctype="multipart/form-data" action="predictImage">
      {% csrf_token %}
      <input name="filePath" type="file"><br><br>
      <input type="submit" class="btn btn-success pull-center" value="Detect" ></div>
      </div>
      <br>
      </div>
      <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h4 class="display-4 fw-normal text-center">{{result}}</h4>
      <img src={{output}} class="align-items-center" alt='image'>
      </form>
      <br>
      </div>
      </div>
    
{% endblock %}
